
* {
    /* typography */
    font-family: "Galdeano", "Courier New", Courier, monospace, sans-serif;
    text-align: center;
}

html {
    /* full page */
    min-height: 100%;
}

body {
    background-image: linear-gradient(#000008, #000096, #000008);
    /* box */
    border: 16px solid #000000;
}

#wrapper {
    /* box */
    min-height: 1024px;
}

header {
    /* typography */
    font-family: "Merienda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    line-height: 64px;
    color: #22bbbb;
    /* box */
    max-width: 928px;
    min-height: 192px;
    margin: auto;
    background-color: #000069;

    border-style: solid;
    border-top-width: 16px;
    border-top-color: #007777;
    border-right-width: 32px;
    border-right-color: #22bbbb;
    border-bottom-width: 2px;
    border-bottom-color: #000040;
    border-left-width: 32px;
    border-left-color: #22bbbb;
}

h1 {
    /* typography */
    font-size: 2.75vw;
    text-shadow: 4px 4px 6px #000000ff;
    /* box */
    padding: 16px 0px;
}

h2 {
    /* typography */
    font-size: 2.0vw;
    text-shadow: 4px 4px 6px #000000ff;
}

h3 {
    /* typography */
    font-size:  1.46vw;
    text-shadow: 4px 4px 6px #000000ff;
    /* box */
    padding: 16px 32px;
}

#ownDamnGif {
    /* box */
    max-width: 928px;
    min-height: 192px;
    margin: auto;
    background: #000069;
    /* typography */
    font-size: 2.25vw;
    line-height: 32px;
    color: #4169e1;

    border-style: solid;
    border-top-width: 16px;
    border-top-color: #000069;
    border-right-width: 32px;
    border-right-color: #4169e1;
    border-bottom-width: 16px;
    border-bottom-color: #000040;
    border-left-width: 32px;
    border-left-color: #4169e1;
    /* box */
    box-shadow: 4px 4px 32px 4px #000000ff;
}

form {
    margin: auto;
}

input {
    /* box */
    width: 75%;
    height: 32px;
    margin: 16px;
    box-shadow: 4px 4px 32px 4px #000000ff;
}

#btn {
    /* box */
    width: 64px;
    box-shadow: 4px 4px 32px 4px #000000ff;
}

button {
    width: 128px;
    margin: 32px 16px;
    line-height: 32px;
    box-shadow: 4px 4px 32px 4px #000000ff;
}

#begin {
    background-image: url("../../assets/images/female-symbol-icon-71464.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    /* typography */
    color: #44dddd;
    text-shadow: 2px 2px 4px #000000ff;
}

#link {
    font-size: 2.00vw;
    line-height: 32px;
    color: #4169e1;

    margin: 64px auto;
}

.btnGen {
    /* typography */
    color: #44dddd;

}

#gifs {
    /* box */
    margin: auto;
    padding: 16px;
    box-shadow: 4px 4px 32px 4px #000000ff;
}

p {
    display: block;
    /* typography */
    color: #22bbbb;
    /* box */
    margin: 8px 0px;
}

input[type=text] {
    /* typography */
    color: #22bbbb;
    background-color: #000000;
    /* box */
    border: 2px solid #8b008b;
    padding: 4px;
}

input[type=submit], button {
    cursor: pointer;
    background-color: #8b008b;
    /* typography */
    color: #000000;
    border-width: 2px;
    border-color: #000000;
}

input[type=submit]:hover {
    cursor: pointer;
    color: #22bbbb;
    background-color: #4e0a4b;
}

