
*, html {
    font-family: "Galdeano", "Courier New", Courier, monospace, sans-serif;
    text-align: center;
}

body {
    background-image: linear-gradient(#000016, #000096);
}

#wrapper {
    min-height: 1024px;
}

header {
    max-width: 928px;
    min-height: 152px;

    margin: auto;
    background-color: #000069;

    font-family: "Merienda", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

    line-height: 56px;
    color: #22bbbb;

    border-style: solid;
    border-top-width: 16px;
    border-top-color: #000069;
    border-right-width: 32px;
    border-right-color: #22bbbb;
    border-bottom-width: 2px;
    border-bottom-color: #22bbbb;
    border-left-width: 32px;
    border-left-color: #22bbbb;
}

h1 {
    font-size: 3.4vw;
}

h2 {
    font-size: 2.2vw;
}

h3 {
    font-size:  1.46vw;
    padding: 0px 32px;
}

#ownDamnGif {
    max-width: 928px;
    min-height: 152px;

    margin: auto;
    background: #000069;

    font-size: 2.25vw;

    line-height: 32px;
    color: #4169e1;

    border-style: solid;
    border-top-width: 16px;
    border-top-color: #000069;
    border-right-width: 32px;
    border-right-color: #4169e1;
    border-bottom-width: 16px;
    border-bottom-color: #000069;
    border-left-width: 32px;
    border-left-color: #4169e1;
}

#wholeForm {
    max-width: 928px;

    padding: 16px 0px;
}

form {
    margin: auto;
}

input {
    width: 256px;
    height: 32px;

    margin: 2px;
}

#bigField {
    width: 300px;
    /* height: 96px */
}

#btn {
    width: 64px;
}

button {
    width: 96px;
    line-height: 48px;

    margin: 16px;
}

#gifs {
    display: inline;
    max-width: 928px;
    /* background-color: #ffa07a; */

    margin: auto;
    padding: 16px;
}

/* .ratedImg {
    display: inline;
} */

p {
    display: block;

    color: #22bbbb;
    margin: 8px 0px;
}

